button.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    right: 100px;
    bottom: 36px;
    width: 7.3%;
    height: 30px;
    font-size:10px;
  }

  button.button2 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    right: 100px;
    bottom: 70px;
    width: 7.3%;
    height: 30px;
    font-size:10px;
  }

  button.button3 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    right: 100px;
    bottom: 3px;
    width: 7.3%;
    height: 30px;
    font-size:10px;
  }

  img.center{
    right: 100px;
  }
  #title-bar{
    padding:0px;
  }
  
  /* button.button:hover {
    background-color: #4CAF50; 
    color: white;
  } */
  