.App {
  margin: auto;
  background-image: linear-gradient(#333,white) !important;
  height: 100%;
  width: 100%;
  padding: 20px;
}


label {
  color: white;
}

.date-label {
  font-size: 20px;
  text-decoration: underline;
  padding: 15px;
  color: white;
}

.center-button {
  text-align: center;
}

.select-time {
  padding: 10px;
}

.tabs-color {
  background-color: silver;
}