.date-label {
  font-size: 20px;
  text-decoration: underline;
  padding: 15px;
  color: white;
}
.white-label {
  color: white;
  font-size: 20px;
}

#manager-component-buttons {
  border-radius: 100px;
}
hr {
  color: white;
}
#white-heading {
  color: white;
  padding: 15px;
}
.center-button {
  text-align: center;
}

.select-time {
  padding: 10px;
}

.tabs-color {
  background-color: silver;
  border-color: black;
  border-style: solid;
}

select {
  padding: 5px;
}

#margin-hero {
  margin: 0px;
}

#hero {
  background-image: url('./assets/car-rental-search-img.png');
  background-size: cover;
  background-position: center center;
  /* position: relative; */
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  margin: 0;
}

#hero-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0; 
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.container {
  /* position: absolute; */
  margin: 15px;
  padding: 20px;
  background-color: #333;
  opacity: 0.9;
  /* opacity: 0.75; */
}

.nav-tabs-center {
  margin: auto;
  color: gray !important;
}

#manager-component-background {
  background-image: url('../src/assets/darkness.png');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  margin: 0;
  /* opacity: 0.8; */
}

.manager-component-background-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.manager-form-container {
  position: absolute;
  margin: 20x;
  padding: 16px;
  background-color: #333;
  opacity: 0.9;
  background-color: rgba(0,0,0,0.5);
}

#tab {
  font-size: 25px;
  padding: 10px;
}

.checkout-form {
  text-align: center;
}

.checkout-background {
  background-image: url('../src/assets/wrx.jpg');
  background-size: cover;
  background-position: center center;
  /* position: relative; */
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  margin: 0;
  opacity: 0.8;
  background-color: #333;
}

.checkout-container {
  /* position: absolute; */
  margin: 15px;
  padding: 15px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.9;
  /* opacity: 0.75; */
}